.gallery
{    
  height: 100vh;
  width: 100%;
}

.rg-info
{
  background-image: url('/assets/img/rgp16.jpg');
  margin: auto;
  background-position: center top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #616161;
  opacity: 0.5;
}

.rg-info:hover
{
  opacity: 1;
}

.tile-info
{
  margin-bottom: 80px;
  color: whitesmoke;
  text-align: center;
}

.tile-info h2
{
  font-size: 4vmin;
  font-weight: bold;
}

.line
{
  width: 200px;
  height: 4px;
  background: #bba887;
  margin: 10px auto;
  border-radius: 5px;
}

.tile-info h1
{
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: bold;
}

a
{
  text-decoration: none;
}

.ctn
{
  padding: 15px 40px;
  background-color: transparent;
  border: 1px solid;
  color: whitesmoke;
  transition: all 0.4s ease;
}

.ctn:hover
{
  background: #bba887;
  transform: scale(1.99);
  opacity: 1;    
}