<div class="bg-white">
    <section class="blog">
        <div class="content">
            <article class="post">
                <div class="post-header">
                    <div class="post-img-1"></div>
                </div>
                <div class="post-body">
                    <h2>Nombre de cóctel 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur recusandae cupiditate natus debitis similique facere delectus ut sed, voluptatum temporibus quaerat eligendi quis sapiente provident odit commodi? Repellat, eos?</p>
                    <a href="" class="post-link">Leer más</a>
                </div>
            </article>
            <article class="post">
                <div class="post-header">
                    <div class="post-img-2"></div>
                </div>
                <div class="post-body">
                    <h2>Nombre de cóctel 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur recusandae cupiditate natus debitis similique facere delectus ut sed, voluptatum temporibus quaerat eligendi quis sapiente provident odit commodi? Repellat, eos?</p>
                    <a href="" class="post-link">Leer más</a>
                </div>
            </article>
            <article class="post">
                <div class="post-header">
                    <div class="post-img-3"></div>
                </div>
                <div class="post-body">
                    <h2>Nombre de cóctel 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur recusandae cupiditate natus debitis similique facere delectus ut sed, voluptatum temporibus quaerat eligendi quis sapiente provident odit commodi? Repellat, eos?</p>
                    <a href="" class="post-link">Leer más</a>
                </div>
            </article>
            <article class="post">
                <div class="post-header">
                    <div class="post-img-4"></div>
                </div>
                <div class="post-body">
                    <h2>Nombre de cóctel 4</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur recusandae cupiditate natus debitis similique facere delectus ut sed, voluptatum temporibus quaerat eligendi quis sapiente provident odit commodi? Repellat, eos?</p>
                    <a href="" class="post-link">Leer más</a>
                </div>
            </article>
            <article class="post">
                <div class="post-header">
                    <div class="post-img-5"></div>
                </div>
                <div class="post-body">
                    <h2>Nombre de cóctel 5</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur recusandae cupiditate natus debitis similique facere delectus ut sed, voluptatum temporibus quaerat eligendi quis sapiente provident odit commodi? Repellat, eos?</p>
                    <a href="" class="post-link">Leer más</a>
                </div>
            </article>
            <article class="post">
                <div class="post-header">
                    <div class="post-img-6"></div>
                </div>
                <div class="post-body">
                    <h2>Nombre de cóctel 6</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur recusandae cupiditate natus debitis similique facere delectus ut sed, voluptatum temporibus quaerat eligendi quis sapiente provident odit commodi? Repellat, eos?</p>
                    <a href="" class="post-link">Leer más</a>
                </div>
            </article>
        </div>
    </section>
</div>