/*********************************************
              ABOUT-US
*********************************************/
/*
#about-us
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

#about-us .tile 
{
  padding: 40px;
  box-sizing: border-box;
}

#about-us .tile-1 
{
    background-image: url("/assets/img/logo2.png");
    background-size: cover;
    background-position: top center;
    background-color: #eee;
    color: #eee;
    grid-column: 1 / 2;
}

#about-us .tile-2 
{
  background-color: #eee;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

#about-us .tile-2 img 
{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

#about-us .tile-3 
{
  background-color: #eee;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#about-us .tile-4 
{
  background-color: #eee;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#about-us .tile-5 
{
  background-color: #eee;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#about-us .tile 
{
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 1.5em;
}*/
.more-info
{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.more-info h1
{
  font-size: 48px;
  font-weight: 300;
  color: whitesmoke;
}

.more-info p
{
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.info-row
{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.info-col
{
  flex-basis: 31%;
  background: #fff3f3;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

h3
{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

/* Coctelería */

.our-coctel
{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;  
}

.our-coctel h1
{
  font-size: 48px;
  font-weight: 300;
  color: whitesmoke;
}

.our-coctel p
{
  color: #777;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row-coctel
{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.coctel-col
{
  flex-basis: 32%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.coctel-col img
{
  width: 100%;
  display: block;
}

.name-coctel
{ 
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.name-coctel:hover
{
  background-color: rgba(225, 225, 225, 0.5);
}

.name-coctel h3
{
  width: 100%;
  font-weight: 800;
  font-size: 36px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.name-coctel:hover h3
{
  bottom: 49%;
  opacity: 1;
}

/* nuestros clientes */

.our-costumers
{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px; 
}

.our-costumers h1
{
  font-size: 48px;
  font-weight: 300;
  color: whitesmoke;
}

.our-costumers p
{
  color: #777;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row-costumers
{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.costumers-col
{
  flex-basis: 44%;
  border-radius: 5px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  display: flex;
  cursor: pointer;
}

.costumers-col img
{
  height: 50px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.costumers-col p
{
  padding: 0;
}

.costumers-col h3
{
  margin-top: 15px;
  text-align: left;
}

.costumers-col .fa
{
  color: #f44636;
}

.footer
{
  width: 100%;
  margin: auto;
}

/*********************************************
              PRUEBA
*********************************************/

  .rg-info
  {
    background-image: url('/assets/img/rgp16.jpg');
    height: 800px;
    width: 80%;
    margin: auto;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616161;
    opacity: 0.5;
  }

  .rg-info:hover
  {
    opacity: 1;
  }

  .tile-info
  {
    margin-bottom: 80px;
    color: whitesmoke;
    text-align: center;
  }

  .tile-info h2
  {
    font-size: 4vmin;
    font-weight: bold;
  }

  .line
  {
    width: 200px;
    height: 4px;
    background: #bba887;
    margin: 10px auto;
    border-radius: 5px;
  }

  .tile-info h1
  {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  a
  {
    text-decoration: none;
  }

  .ctn
  {
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid;
    color: whitesmoke;
    transition: all 0.4s ease;
  }

  .ctn:hover
  {
    background: #bba887;
    transform: scale(1.99);
    opacity: 1;    
  }

  /* Mobile */

  @media only screen and (max-width:900px)
  {
    .info-row
    {
      flex-direction: column;
    }

    .row-coctel
    {
      flex-direction: column;
    }
  }

  @media only screen and (max-width:700px)
  {

    .row-costumers
    {
      flex-direction: column;
    }

    .costumers-col img
    {
      flex-direction: column;
      margin-left: 0px;
      margin-right: 15px;
    }

  }
  




  

  