<section class="more-info">
    <h1 data-aos="zoom-in" data-aos-duration="1000">Aquí va información importante</h1>
    <p data-aos="zoom-in" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <div class="info-row">
        <div class="info-col" style="background-color: #666666;">
            <h3 style="font:oblique bold;">Servicio de calidad</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt reprehenderit sunt
                accusantium, cupiditate aspernatur dolorem, saepe a, optio ullam nesciunt numquam soluta eaque
                eveniet incidunt distinctio natus voluptatum tenetur error.
            </p>
        </div>
        <div class="info-col" style="background-color: #666666;">
            <h3>Coctelería para todos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt reprehenderit sunt
                accusantium, cupiditate aspernatur dolorem, saepe a, optio ullam nesciunt numquam soluta eaque
                eveniet incidunt distinctio natus voluptatum tenetur error.
            </p>
        </div>
        <div class="info-col" style="background-color: #666666;">
            <h3>Experiencia innovidable</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt reprehenderit sunt
                accusantium, cupiditate aspernatur dolorem, saepe a, optio ullam nesciunt numquam soluta eaque
                eveniet incidunt distinctio natus voluptatum tenetur error.
            </p>
        </div>
    </div>
</section>

<section class="rg-info">
    <div class="tile-info">
        <h2 data-aos="zoom-in" data-aos-duration="1500">VIVE LA EXPERIENCIA</h2>
        <h1 data-aos="zoom-out-down" data-aos-duration="1500">SERVICIO DE CALIDAD CON COCTELERÍA <br> CLÁSICA Y DE
            AUTOR </h1>
        <a href="" class="ctn" data-aos="zoom-out-down" style="font-size: 28px;">Ver más</a>
    </div>
</section>

<section class="our-coctel">
    <h1 data-aos="zoom-in" data-aos-duration="1000">Disfruta de los mejores cocteles de autor</h1>
    <p data-aos="zoom-in" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="row-coctel" data-aos="fade-up" data-aos-duration="3000">
        <div class="coctel-col" data-aos="fade-up" data-aos-duration="1000">
            <img src="/assets/img/rgp11.jpg" alt="">
            <div class="name-coctel">
                <h3>Coctel #1</h3>
            </div>
        </div>
        <div class="coctel-col" data-aos="fade-up" data-aos-duration="2000">
            <img src="/assets/img/rgp12.jpg" alt="">
            <div class="name-coctel">
                <h3>Coctel #2</h3>
            </div>
        </div>
        <div class="coctel-col" data-aos="fade-up" data-aos-duration="3000">
            <img src="/assets/img/rgp13.jpg" alt="">
            <div class="name-coctel">
                <h3>Coctel #3</h3>
            </div>
        </div>
    </div>
</section>

<section class="our-costumers">
    <h1 data-aos="zoom-in" data-aos-duration="1000">¿Qué dicen nuestros clientes?</h1>
    <p data-aos="zoom-in" data-aos-duration="1000">Queremos compartirte un poco acerca de la experiencia de algunos de nuestros clientes</p>
    <div class="row-costumers">
        <div class="costumers-col">
            <img src="/assets/img/caro.jpeg" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tenetur iusto porro sit quod
                    officiis odit ipsum consequuntur itaque eligendi tempore delectus quasi sequi, incidunt,
                    atque
                    labore similique facilis quidem?
                </p>
                <h3>Carolina Gil Lemus</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="costumers-col">
            <img src="/assets/img/caro.jpeg" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tenetur iusto porro sit quod
                    officiis odit ipsum consequuntur itaque eligendi tempore delectus quasi sequi, incidunt,
                    atque
                    labore similique facilis quidem?
                </p>
                <h3>Carolina Gil Lemus</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
    <div class="row-costumers">
        <div class="costumers-col">
            <img src="/assets/img/caro.jpeg" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tenetur iusto porro sit quod
                    officiis odit ipsum consequuntur itaque eligendi tempore delectus quasi sequi, incidunt,
                    atque
                    labore similique facilis quidem?
                </p>
                <h3>Carolina Gil Lemus</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="costumers-col">
            <img src="/assets/img/caro.jpeg" alt="">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tenetur iusto porro sit quod
                    officiis odit ipsum consequuntur itaque eligendi tempore delectus quasi sequi, incidunt,
                    atque
                    labore similique facilis quidem?
                </p>
                <h3>Carolina Gil Lemus</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>