<div class="bg-white">
    <section class="about-us">
        <h1>Sobre Nosotros</h1>
        <div class="row">
            <div class="img-container">
                <img class="img-about" src="assets/img/rgb300.jpeg" alt="">
            </div>
    
            <div class="content">
                <h3>¿Qué es Ramos Gyl?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laudantium numquam ratione quod inventore earum eaque molestias natus, aspernatur minima. Obcaecati dolores voluptatum incidunt quis ullam sunt delectus tempore adipisci!</p>
                <h3>¿Quiénes somos?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laudantium numquam ratione quod inventore earum eaque molestias natus, aspernatur minima. Obcaecati dolores voluptatum incidunt quis ullam sunt delectus tempore adipisci!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam illo totam facilis omnis? Velit corrupti voluptates nam minima, odit accusantium fuga atque voluptatem maxime optio, sint deleniti qui vero!</p>
                <h3>¿Por qué elegirnos?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laudantium numquam ratione quod inventore earum eaque molestias natus, aspernatur minima. Obcaecati dolores voluptatum incidunt quis ullam sunt delectus tempore adipisci!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam illo totam facilis omnis? Velit corrupti voluptates nam minima, odit accusantium fuga atque voluptatem maxime optio, sint deleniti qui vero!</p>
                <a href="" class="btn">Leer más</a>
            </div>
        </div>
    </section>
</div>